* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.header {
    padding: 10px 200px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav__github--logo-img {
    width: 96px;
}